PORT=3001

REDIS_HOST=localhost
REDIS_PORT=6379

MAIL_HOST=smtp.eu.mailgun.org
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_FROM=
DISABLE_EMAILS=

QUEUE_IDS=
MAX_MESSAGES_PER_INTERVAL=
INTERVAL=
CONSUMER_NAME=
JOBS_KEEP_AGE=
