PORT=3001

REDIS_HOST=localhost
REDIS_PORT=6379

MAX_MESSAGES_PER_INTERVAL=1000
INTERVAL=60000
CONSUMER_NAME=ms-dev
QUEUE_IDS=send

# If using SMTP provider
MAIL_HOST=smtp.eu.mailgun.org
MAIL_PORT=587
MAIL_USER=test
MAIL_PASS=test
MAIL_FROM=noreply@kir-dev.hu


# If using Azure provider
AZURE_EMAIL_CONNECTION_STRING="endpoint=endpoint-here/;accesskey=accesskey-here"
AZURE_EMAIL_SENDER=